.back-button
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transition: 0.2s;

    font-family: 'Dizhitl SemiBold';
    font-style: normal;
    font-weight: normal;
}

.back-button:hover
{
    transform: translate(-1%, -1%);
}

.back-button #back-button-inside
{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("content/graytrees3.png");
    
    width: 70%;
    height: 70%;
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
    z-index: 1;
}

.back-button #back-button-outline
{
    position: sticky;
    top: 0;
    left: 0;
    
    background-color: #888888;
    width: 20vw;
    height: 30vh;
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
    z-index: 1;
}

.back-button h1
{
    position: absolute;
    z-index: 2;
    font-size: 4vw;
    color: #F3F3F3;
    text-shadow: #303030 0 0 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0;
    top: 10%;
    left: 10%;
    max-width: 50%;
}

@media screen and (max-width: 600px) {
    .back-button h1
    {
        position: absolute;
        z-index: 2;
        font-size: 3vh;
        color: #F3F3F3;
        text-shadow: #303030 0 0 10px;
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 0;
        max-width: 50%;
    }

    .back-button #back-button-inside
    {
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("content/graytrees3.png");
        
        width: 70%;
        height: 70%;
        clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
        z-index: 1;
    }

    .back-button #back-button-outline
    {
        position: sticky;
        top: 0;
        left: 0;
        
        background-color: #888888;
        width: 20vw;
        height: 10vh;
        clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
        z-index: 1;
    }
}